.metadata/.plugins/org.eclipse.cdt.core/DCS.language.settings.xml
.metadata/.plugins/org.eclipse.core.resources/.history/13/10467dd2532e001a13c5ac5956160229
.metadata/.plugins/org.eclipse.core.resources/.history/14/1064f211542e001a13c5ac5956160229
.metadata/.plugins/org.eclipse.core.resources/.history/32/4098fb352c33001a1a4ff95fb4c6c42f
.metadata/.plugins/org.eclipse.core.resources/.history/34/50191cba2d33001a1a4ff95fb4c6c42f
.metadata/.plugins/org.eclipse.core.resources/.history/3e/50401d1f552e001a13c5ac5956160229
.metadata/.plugins/org.eclipse.core.resources/.history/49/700fb56c532e001a13c5ac5956160229
.metadata/.plugins/org.eclipse.core.resources/.history/59/904800aa532e001a13c5ac5956160229
.metadata/.plugins/org.eclipse.core.resources/.history/71/402981b32e33001a1a4ff95fb4c6c42f
.metadata/.plugins/org.eclipse.core.resources/.history/8a/80a5d7ca902e001a1647aaeaf7566e92
.metadata/.plugins/org.eclipse.core.resources/.history/91/10812a5a1b33001a1a4ff95fb4c6c42f
.metadata/.plugins/org.eclipse.core.resources/.history/9c/400ef3288f2e001a1647aaeaf7566e92
.metadata/.plugins/org.eclipse.core.resources/.history/9c/c0b07547532e001a13c5ac5956160229
.metadata/.plugins/org.eclipse.core.resources/.history/a/60562c942d33001a1a4ff95fb4c6c42f
.metadata/.plugins/org.eclipse.core.resources/.history/a7/50afcd4b2c33001a1a4ff95fb4c6c42f
.metadata/.plugins/org.eclipse.core.resources/.history/af/408ce5b02d33001a1a4ff95fb4c6c42f
.metadata/.plugins/org.eclipse.core.resources/.history/b/6093da512f33001a1a4ff95fb4c6c42f
.metadata/.plugins/org.eclipse.core.resources/.history/b6/205a61591a33001a1a4ff95fb4c6c42f
.metadata/.plugins/org.eclipse.core.resources/.history/bf/f0073aba532e001a13c5ac5956160229
.metadata/.plugins/org.eclipse.core.resources/.history/c0/80eebcb4552e001a13c5ac5956160229
.metadata/.plugins/org.eclipse.core.resources/.history/c4/d0dffafa532e001a13c5ac5956160229
.metadata/.plugins/org.eclipse.core.resources/.history/e6/b0e989e91933001a1a4ff95fb4c6c42f
.metadata/.plugins/org.eclipse.core.resources/.history/e7/001dcb852c33001a1a4ff95fb4c6c42f
.metadata/.plugins/org.eclipse.core.resources/.history/ec/d0d3ef94532e001a13c5ac5956160229
.metadata/.plugins/org.eclipse.core.resources/.history/f4/4030af6f8d2e001a1647aaeaf7566e92
.metadata/.plugins/org.eclipse.core.resources/.history/f8/903ffa11912e001a1647aaeaf7566e92
.metadata/.plugins/org.eclipse.core.resources/.history/f8/d0b7f684da21001a194afa9de6b81cc8
.metadata/.plugins/org.eclipse.core.resources/.history/f9/90b3887f532e001a13c5ac5956160229
.metadata/.plugins/org.eclipse.core.resources/.projects/DCS/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/DCS/.indexes/81/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/DCS/.indexes/8e/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/DCS/.indexes/d1/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/DCS/.indexes/eb/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TestSerial/5.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/TestTTRD15a/2.tree
.metadata/.plugins/org.eclipse.core.resources/.root/38.tree
.metadata/.plugins/org.eclipse.core.resources/.root/39.tree
.metadata/.plugins/org.eclipse.core.resources/.root/46.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
